body {
    margin: 0;
}

.ball {
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.one {
    background-color: aqua;
    top: 5px;
    left: 10px;
}
.eye {
    position: relative;
    background-color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    top: 10px;
    left: 10px;
}
.black {
    position: relative;
    background-color: black;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top: -10px;
    left: 10px;
}
.two {
    background-color: skyblue;
    top: 15px;
    left: 50px;
}
.three {
    background-color: deepskyblue;
    top: 30px;
    left: 80px;
}
.four {
    background-color: darkcyan;
    top: 30px;
    left: 110px;
}
.five {
    background-color: darkblue;
    top: 30px;
    left: 140px;
}
.z-1 {
    position: absolute;
    z-index: 1;
    top: 55px;
    resize: 50%;
    width:200px;
    height:50px ;
}
.z-2 {
    z-index: 2;
}