<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/socket.io/socket.io.js"></script>
    <title>Document</title>
</head>
<body>
    <ul></ul>
    <form id="chat">
        <input type="text" id="message" placeholder="message" /><br/>
        <button>Send</button>
        <button type="click" onclick="leave()">Leave</button>
    </form>

    <script>
        const chatForm = document.querySelector('#chat');
        const ul = document.querySelector('ul');

        // connect socket
        const socket = io();

        // create chat room
        const chatRoom = prompt('채팅방 명을 입력하세요')
        socket.emit("join", chatRoom);

        socket.on('create', (res) => {
            const li = document.createElement('li')
            li.textContent = res;
            ul.appendChild(li);
        });
        socket.on('chat', (res) => {
            const li = document.createElement('li')
            li.textContent = res;
            ul.appendChild(li);
        });

        // form event
        chatForm.addEventListener('submit', (e) => {
            e.preventDefault();
            const msg = chatForm.querySelector('#message');
            socket.emit('message', msg.value )
            msg.value = '';
        });

        function leave() {
            console.log('leave')
            socket.emit('leave')
        };

    </script>
    
</body>
</html>