<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= %></h1>
    <div>
        <p>작성일 : <%= data.date %></p>
        <p>댓글내용 : <%= data.commentno %></p>
    </div>
</body>
</html>